* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #399480;
	/* Old color #D34747 */
}

#header {
	background: #399480;
	/* Old color #D34747 */
	color: #cccccc;
	padding: 10px 100px 20px 140px;
	width: 100% - 240px;
}

#header-top {
	padding: 0px 100px 10px 140px;
}

#header #logo {
	font-size: 25px;
	float: left;
}

#main-nav{
	margin-left: 50%;
	padding-top: 10px;
}

ul#menu li {
	margin-left: 5px;
    display:inline;
}

ul#menu li {
	padding: 5px 10px;
	transition: background 0.7s;
}

ul#menu li:hover {
	background: #ca1414;
}

#header-bottom {
	margin: 10px 20px;
	width: 100% - 100px;
	height: 80px;
	background: #eeeeee;
	border-radius: 20px;
}

#main-container {
	padding: 0px 20px;
}

#rankings {
	width: 100%;
	height: 500px;
	background: white;
}

#school {
	padding: 20px 80px;
	font-size: 24px;
}