body {
	background: #eeeeee;
}

#schoolContainer {
	margin: 15px 100px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#schoolLogo {
	padding: 20px;
	width: 140px;
}

<<<<<<< HEAD
span#schoolName {
	margin-left: 40px;
}

#schoolL{
	padding: 20px;
	width: 140px;
}

span {
>>>>>>> 42a7ba015013afaf62b6ccf5848b397e41e4fdda
	font-size: 20px;
}

#ladder {
	margin: 30px 100px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.player {
	padding: 20px 35px;
}

.player:nth-child(even) {
	background: #dddddd;
}

.ign {
	float: left;
}

.rank {
	margin-left: 55%;
}

.lp {
	float: right;
	margin-right: 35px;
}

