body {
	background: #eeeeee;
}

#schoolContainer {
	margin: 15px 100px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#schoolLogo {
	padding: 20px;
	width: 140px;
}

span#schoolName {
	margin-left: 40px;
	font-size: 20px;
}

#ladder {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}